{% extends 'base.html' %}

{% block content %}
    <section class="bg-primary" id="centers">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">
                        My profile
                    </h2>
                    <table>
                        {{ form.as_table }}
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
