{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans 'Add likes to a resource/object' %} | {{ block.super }}{% endblock %}

{% block content %}

    <section class="bg-dark" id="centers">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">
                        {% trans "Add new likes to a resource" %}
                    </h2>
                    <form method="post" act>
                        {% csrf_token %}
                        <label for="resource_select">Select Resource</label>
                        <select class="form-control" name="" id="resource_select">
                            {% for resource in resources %}
                                <option value="{{ resource.id }}">{{ resource }}</option>
                            {% endfor %}
                        </select><br/>
                        <input type="submit" class="btn btn-primary btn-xl page-scroll" value="{% trans 'Add Vote' %}" />
                    </form>
                </div>
            </div>
        </div>
    </section>

{%  endblock %}
