{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <section class="bg-primary" id="centers">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">
                        {{ object.name }}
                    </h2>
                    <p>
                        {{ object.description }}
                    </p>
                    <p><a href="{{ object.url }}" rel="no-follow" target="_blank"><input type="text" value="{{ object.url }}" /></a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
