{% extends 'elements/modal.html' %}
{% load i18n %}
{% load bootstrap %}
{% load static %}

{% block modal_title %}
    {% trans "Add new resource or link" %}
{% endblock %}

{% block modal_body %}
    <form action="{% url 'resource-add' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form|bootstrap }}
        </table>
        <div class="modal-footer text-right">
            <a  data-dismiss="modal">
                {% trans 'Cancel' %}
            </a>
            <input type="submit" class="btn btn-primary" value="{% trans 'Add' %}" />
        </div>
    </form>
{%  endblock %}
