{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block header %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                {% include 'elements/logo.svg' %}
                <h1>
                    {% trans 'Help Others' %}
                </h1>
                <p class="main">
                    {% blocktrans %}This is the place to find how and where youcan help the refugees...{% endblocktrans %}
                </p>
                <a data-toggle="modal" href="{% url 'gathering-center-add' %}" data-target="#modal">Click me</a>

                <a href="/#about" class="page-scroll">
                    {% trans "About us" %}
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    </div>

    <section class="heading">
        <div class="container">
            <div class="row">
                <h2>
                    {% trans 'Gathering centers' %}
                </h2>
            </div>
        </div>
    </section>
    <section id="centers">
        <div id="map" style="height: 500px; width: 100%"></div>
    </section>


    <section class="heading alt">
        <div class="container">
            <div class="row">
                <h2>
                    {% trans 'Resources' %}
                </h2>
            </div>
        </div>
    </section>
    <section class="bg-dark" id="resources">
        <div class="container">
            <div class="row">
                <ul class="list resources">
                    {% for resource in resources %}
                        <li class="item">
                            <a href="{{ resource.url }}" class="link" target="link">
                                {% include 'elements/item-arrow.svg' %}
                            </a>
                            <h3>{{ resource.name }}</h3>
                            {{ resource.description|truncatechars:140 }}
                            <br/>
                            <a href="{{ resource.url }}" class="link" target="link">
                                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                                {{ resource.url|truncatechars:80 }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <section class="bg-light text-center" id="about">
        <div class="container">
            <div class="row spacious">
                <a href="{% url 'gathering-center-add' %}"
                   class="btn btn-primary btn-xl alt"
                   data-toggle="modal"
                   data-target="#modal" title="edit item">
                    {% trans 'Add a center' %}
                </a>
                <a href="{% url 'resource-add' %}"
                   class="btn btn-primary btn-xl alt"
                   data-toggle="modal"
                   data-target="#modal" title="edit item">
                    {% trans 'Suggest a resource' %}
                </a>
            </div>
        </div>
    </section>

    <section class="bg-white footer" id="about">
        <div class="container">
            <div class="row text-center">
                <h2 class="dark">
                    {% trans 'About' %}
                </h2>

                <p>
                    {% blocktrans %}So you want to help? That's how you found
                        this site, right? ...{% endblocktrans %}
                </p>


                {% include 'elements/logo.svg' %}

            </div>
        </div>
    </section>

{% endblock %}


{% block extrabody %}

    <script type="text/javascript">
        var mapStyle = [{"stylers":[{"hue":"#baf4c4"},{"saturation":10}]},{"featureType":"water","stylers":[{"color":"#effefd"}]},{"featureType":"all","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]}];
        function initMap() {

            var mapCenter = {
                lat: 46,
                lng: 15
            };
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: mapCenter,
                scrollwheel: false,
                zoom: 8,
                styles: mapStyle,
                mapMaker: true
            });
            var markers = [];
            var i = 0;

            {% for center in gathering_centers %}
                {% if center.geoposition %}
                    var myLatLng = {
                        lat: {{center.geoposition.latitude}},
                        lng: {{center.geoposition.longitude}}
                    };
                    // Create a marker and set its position.
                    markers[i] = new google.maps.Marker({
                        icon: '{% static "img/location.svg" %}',
                    {# icon: '{% static "img/map-icon.png" %}',#}
                        anchorPoint: google.maps.Point([21, 58]),
                        animation: google.maps.Animation.DROP,
                        map: map,
                        position: myLatLng,
                        title: '{% if center.location_name %}{{ center.location_name }}{% else %}{{ center.address }}{% endif %}'
                    });
                i++;
                {% endif %}
            {% endfor %}
            var bounds = new google.maps.LatLngBounds();
            for (i = 0; i < markers.length; i++) {
                bounds.extend(markers[i].getPosition());
            }
            map.fitBounds(bounds);
        }

    </script>
    <script async defer src="//maps.googleapis.com/maps/api/js?sensor=false&callback=initMap">
    </script>

    <script>
        $('#modal').on('show.bs.modal', function (event) {
            var modal = $(this);
            $.ajax({
                url: "{% url 'resource-add' %}",
                context: document.body
            }).done(function (response) {
                modal.html(response);
                formAjaxSubmit('form', '#modal');
            });
        });

        var formAjaxSubmit = function (form, modal) {
            $(form).submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (xhr, ajaxOptions, thrownError) {
                        if ($(xhr).find('.has-error').length > 0) {
                            $(modal).html(xhr);
                            formAjaxSubmit(form, modal);
                        } else {
                            $(modal).html(xhr);
                            window.setTimeout(function(){
                                $(modal).hide();
                            }, 1000);

                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // handle response errors here
                    }
                });
            });
        }

    </script>

{% endblock extrabody %}
