{%  extends 'base.html' %}
{% load i18n %}

{% block header %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>
                    {% trans 'Welcome to Help Others!' %}
                </h1>
                <hr>
                <p>
                    {% blocktrans %}
                    This is the place to find how and where you can help the refugees...
                    {% endblocktrans %}
                </p>
{#                <a href="/#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>#}
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

    <section id="centers">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">
                        {% trans 'Gathering centers' %}
                    </h2>
                    <ul>
                        {% for center in gathering_centers %}
                            <li>
                                <a href="{% url 'gathering-center' center.pk %}">
                                    <h2>{{ center.city }}</h2> -
                                    {% if center.location_name %}{{ center.location_name }}{% else %}{{ center.address }}{% endif %}
                                </a>
                            </li>
                        {% endfor %}
                        <li class="new">
                            <a href="{% url 'gathering-center-add' %}" class="btn btn-primary btn-xl page-scroll">
                                {% trans 'Add a gathering center' %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="bg-light" id="resources">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">
                        {% trans 'Resources & links' %}
                    </h2>
                    <ul class="resources">
                        {% for resource in resources %}
                            <li>
                                <a href="{% url 'resource' resource.pk %}">
                                    <h2>{{ resource.name }}</h2> -
                                    {{ resource.description|truncatechars:140 }}
                                </a>
                            </li>
                        {% endfor %}
                        <li class="new">
                            <a href="{% url 'resource-add' %}" class="btn btn-primary btn-xl page-scroll">
                                {% trans 'Suggest a resource or link' %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="bg-dark" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">
                        {% trans 'About Help Others' %}
                    </h2>
                    <p>
                        {% blocktrans %}So you want to help? That's how you found this site, right? ...{% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
