{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block header %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                {% include 'elements/logo.svg' %}

                <h1>
                    {% trans 'Help Others' %}
                </h1>
                <hr>
                <p>
                    {% blocktrans %}This is the place to find how and where youcan help the refugees...{% endblocktrans %}
                </p>
                <a href="/#about" class="page-scroll">
                    {% trans "About us" %}
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="heading">
        <div class="container">
            <div class="row">
                <h2>
                    {% trans 'Gathering centers' %}
                </h2>
            </div>
        </div>
    </section>
    <section id="centers">
        <div id="map" style="height: 500px; width: 100%"></div>
    </section>


    <section class="heading alt">
        <div class="container">
            <div class="row">
                <h2>
                    {% trans 'Resources' %}
                </h2>
            </div>
        </div>
    </section>
    <section class="bg-dark" id="resources">
        <div class="container">
            <div class="row">
                <ul class="list resources">
                    {% for resource in resources %}
                        <li class="item">
                            <h3>{{ resource.name }}</h3>
                            {{ resource.description|truncatechars:140 }}
                            <br/>
                            <a href="{{ resource.url }}" class="link"
                               target="link">
                                <span class="glyphicon glyphicon-link"
                                      aria-hidden="true"></span>
                                {{ resource.url|truncatechars:80 }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <section class="bg-light text-center" id="about">
        <div class="container">
            <div class="row spacious">
                <a href="{% url 'gathering-center-add' %}"
                   class="btn btn-primary btn-xl alt">
                    {% trans 'Add a center' %}
                </a>
                <a href="{% url 'resource-add' %}"
                   class="btn btn-primary btn-xl alt">
                    {% trans 'Suggest a resource' %}
                </a>
            </div>
        </div>
    </section>

    <section class="bg-white footer" id="about">
        <div class="container">
            <div class="row text-center">
                <h2 class="dark">
                    {% trans 'About' %}
                </h2>

                <p>
                    {% blocktrans %}So you want to help? That's how you found
                        this site, right? ...{% endblocktrans %}
                </p>


                {% include 'elements/logo.svg' %}

            </div>
        </div>
    </section>

{% endblock %}


{% block extrabody %}

    <script type="text/javascript">
        function initMap() {

            var myLatLng = {
                lat: 46,
                lng: 15
            };
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                scrollwheel: false,
                zoom: 8,
                mapMaker: true
            });
            var markers = [];
            var i = 0;

            {% for center in gathering_centers %}
                {% if center.geoposition %}
                    var myLatLng = {
                        lat: {{center.geoposition.latitude}},
                        lng: {{center.geoposition.longitude}}
                    };
                    // Create a marker and set its position.
                    markers[i] = new google.maps.Marker({
                        icon: '{% static "img/map-icon.png" %}',
                        anchorPoint: google.maps.Point([21, 58]),
                        animation: google.maps.Animation.DROP,
                        map: map,
                        position: myLatLng,
                        title: '{% if center.location_name %}{{ center.location_name }}{% else %}{{ center.address }}{% endif %}'
                    });
                i++;
                {% endif %}
            {% endfor %}
            var bounds = new google.maps.LatLngBounds();
            for (i = 0; i < markers.length; i++) {
                bounds.extend(markers[i].getPosition());
            }
            map.fitBounds(bounds);
        }

    </script>
    <script async defer
            src="//maps.googleapis.com/maps/api/js?sensor=false&callback=initMap">
    </script>
{% endblock extrabody %}
