{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <section class="bg-dark" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">
                        {% trans "Log in" %}
                    </h2>
                    <a href="{% url 'social:begin' 'facebook' %}?next={{ {{ next|default:'/' }} }}"
                       class="btn btn-primary btn-xl page-scroll">
                        Login with Facebook
                    </a>
                    <a href="{% url 'social:begin' 'twitter' %}?next={{ {{ next|default:'/' }} }}"
                       class="btn btn-primary btn-xl page-scroll">
                        Login with Twitter
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
