{% extends 'base.html' %}
{% load i18n leaflet_tags %}

{% block extrahead %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock extrahead %}

{% block content %}
    <section class="bg-primary" id="centers">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                    <h1>{{ object.city }} - {% if object.location_name %}{{ object.location_name }}{% else %}{{ object.address }}{% endif %}</h1>
                    {% if object.hours %}
                    <p>{{ object.hours }}</p>
                    {% endif %}
                    {% if object.geoposition %}
                        {% leaflet_map "main" callback="main_map_init" %}
                    {% endif %}
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    {% if object.most_needed %}
                    <h2>{% trans "Most Needed" %}</h2>
                    {{ object.most_needed }}
                    {% endif %}
                    {% if object.contact %}
                    <h2>{% trans "Contact" %}</h2>
                    {{ object.contact }}
                    {% endif %}
                    {% if object.description %}
                    <h2>{% trans "About" %}</h2>
                    {{ object.description }}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        function main_map_init (map, options) {
            L.geoJson({
              "type": "Feature",
              "geometry": {
                "type": "Point",
                "coordinates": [{{object.geoposition.longitude}}, {{object.geoposition.latitude}}]
              },
              "properties": {
                "name": "{% if object.location_name %}{{ object.location_name }}{% else %}{{ object.address }}{% endif %}"
              }
            }).addTo(map);
            map.setZoom(16);
            map.panTo([{{object.geoposition.latitude}}, {{object.geoposition.longitude}}]);
        }
    </script>
{% endblock %}
