{% extends 'base.html' %}
{% load i18n static %}
{% load bootstrap %}

{% block title %}{% trans 'Add new Gathering Center' %} | {{ block.super }}{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/form.css" %}" />
{% endblock %}

{% block content %}

    <section class="bg-dark" id="centers">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">
                        {% trans "Add new gathering center" %}
                    </h2>
                    <form method="post" action="{}">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <input type="submit" class="btn btn-primary btn-xl page-scroll" value="{% trans 'Add' %}" />
                    </form>
                </div>
            </div>
        </div>
    </section>

{%  endblock %}

{% block extrabody %}
    {{ form.media }}
{% endblock extrabody %}
